.inner{
    padding: 0 4rem;
}
.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    clip-path: rect(0, 0, 0, 0);
    margin-top: -1px;
    overflow: hidden;
}
@media (max-width:767px){
    .inner{
        padding: 0 2rem;
    }
}

.comment{
    font-size:1.2941rem;
}
@media (max-width:767px){
    .comment{
        font-size: 1.125rem;
    }
}


/* Project common */
.grid-row01{
    display: grid;
    grid-template-columns: 6.5fr 5.5fr;
    gap: 4rem;
    place-items: flex-start;
}
.grid-row02{
    display: grid;
    grid-template-columns: 5.5fr 6.5fr;
    gap: 4rem;
    place-items: flex-start;
}
.mt120{
    margin-top: 120px;
}

.project-item .thumb{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width:767px){
    .grid-row01{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .grid-row02{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width:767px){
    .mt120{
        margin-top: 0;
    }
}
/* // Project common */


/* video */
.video-box{
    position: relative;
}
.video-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(0deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 47%, rgb(0,0,0) 100%);
}
/* video */


